.App {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 650px;
      background-color: black;
      color: white;
}
input {
    box-sizing: border-box;
    width: 290px;
    height: 50px;
    left: 198px;
    top: 248px;
    background-color: black;
    color: #FFFFFF;
    border: 2px solid #FFFFFF; 
}
.ErrorMessage {
  color: red;
}
.SuccessMessage {
  color: green;
}
button {
    width: 61px;
    height: 61px;
    left: 425px;
    top: 418px;
    background: #FFFFFF;
}
